.encabezado {
  min-height: 4rem;
}
.grupos {
  min-height: 50rem;
}
.chat {
  height: 25rem;
}
.noticias .chat {
  padding: 0 !important;
}
.nueva-publicacion {
  min-height: 7rem;
}
.publicacion {
  min-height: 17rem;

}
.logo {
  background: #01579b;
  width: 50px;
  margin-top: 0.5rem;
}
.contenido-noticias {
  min-height: 50rem;
  padding: 0.5rem;
  margin-top: 1rem;
}
.img-not {
  border: 0.6rem solid #01579b;
  border-radius: 5px;
}
.fila-encabezado {
  margin-bottom: 0px;
}
.navegador {
  margin-top: 1rem;
}
@media (max-widht:600px) {
  .grupos {
    padding: 0 !important;
  }
}
